.page {
    width: 100%;
    margin: 0;
    font-family: 'inter', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background: #2A2C2F;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    .page {
        display: block;
    }
}