.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    grid-area: paragraphs;
    }

@media screen and (max-width: 320px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
}