.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.cover:hover .cover__overlay { 
    background: rgba(0, 0, 0, 0.5);
}