.lead__caption {
width: 160px;
height: 14px;
margin: 0;
font-weight: normal;
font-size: 10px;
line-height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
position: absolute;
left: 0;
bottom: 0;
}