.place__website {
    display: flex;
    flex-direction: column;
    grid-area: website;
    align-self: end;
    gap: 12px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__website {
        margin: 32px 16px;
    }
}